@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
  }

  body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(101, 100, 98);
  }


  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Commissioner", sans-serif;
    margin-top: 8rem;
    font-weight: 200px;
    font-size: 5rem;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Commissioner", sans-serif;
    margin-top: 5px;
    font-size: 1.5rem;
    text-align: center;
  }

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container .progress{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: #fff;
    margin-top: 5rem;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0)
}

.container .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
    font-family: "Commissioner", sans-serif;
}

.container .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;
}

.container .progress h4{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
    font-family: "Commissioner", sans-serif;
}

.container .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.container .progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}

.container .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}